<div class="alert alert-danger">
  <ul>
    {% for input, messages in errors  %}
      {% for messages in messages %}
        <li>{{ messages }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
