{% extends "./administrador/layout.twig" %}
{% block content %}
  <body>
		<div class="container">
			<div class="row">
				<div class="row" style="text-align:center">
					<a href="{{ '/administrador/articulos/' | url}}" class="btn btn-primary">Regresar</a> 
				</div>
			</div>
		</div>
{% endblock %}
